<div class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <app-header></app-header>
    <main id="main">
        <div class="hero_">
            <img src="../../assets/img/groupe1.jpg" style="max-width: 100%; margin-top: 100px" alt="" /> 
        </div>
        <p
    style=" z-index: 99999; color: rgb(42, 81, 198); font-weight: bold; text-align: center; font-style: italic; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
  >
       
    <q
      >L’humanité fléchit aujourd’hui sous le poids des difficultés, de la peine et du chagrin ; nul n’y échappe… ; mais Dieu soit loué, le remède est à portée.</q> </p>
<section class="features" id="features" style="margin: 0px 10px 0 10px">
    <div class="video-container">
           
              <video controls style="max-width: 100%; height: auto">
                       
                <source src="../../assets/video/Composition 1_5 (2).mp4" type="video/mp4" />
                       
                <!-- <source src="chemin_vers_la_video.webm" type="video/webm"> -->
                        Votre navigateur ne prend pas en charge la lecture de vidéos.  
                   
              </video>
                 
            </div>
</section>
    </main>
    <app-footer></app-footer>
</div>